[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = {path = "./streamlit-0.75.0-py2.py3-none-any.whl"}
mypy = "*"

[dev-packages]
rope = "*"

[requires]
python_version = "3.8"
